.big-container{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
    background-image: url("../havaalani2.jpg"); 
    background-size: cover;
    background-position: center;
  img {
    max-width: 100%;
    height: auto;
}
}
div.home-page-container {
    max-width: 2400px;
    margin: 10%;
    padding: 30px;
    border: 1px solid #322828;
    border-radius: 10px;
    background-color: #756969;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: rgba(108, 96, 96, 0.8);
   
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .trip-type-container {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
      font-size: 16px;
  
      label {
        cursor: pointer;
  
        input {
          margin-right: 5px;
        }
      }
    }
  
    input[type="text"],
    input[type="date"],
    input[type="number"],
    select {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    button {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4%;
        background-color: #ba1446;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    
        &:hover {
          background-color: #2e4359;

          backdrop-filter: blur(5px); /* Fluluk düzeyini buradan ayarlayabilirsiniz */
          -webkit-backdrop-filter: blur(5px); /* Safari için önek eklemek gerekebilir */
        }
        }
  
    .image-container {
      text-align: center;
      margin-top: 20px;
      background-image: url("../havaalani2.jpg"); 
      background-size: cover; /* Görüntünün kutuyu kaplaması için */
    background-position: center; /* Görüntünün ortalanması için */
  
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }